<%= render "layouts/navbar" %>
<div class="student-list">
  <table style="width:100%">
    <th>Alumno</th>
    <th>Examen Modulo 1</th>
    <th>Examen Modulo 2</th>
    <th>Examen Modulo 3</th>

    <% @students.each do |student| %>
    <tr>
      <td><%= link_to student.name, student_path(student) %></td>
      <td> <%= best_in_place student.exams.find_by(module_number:1).student_exams.find_by(student_id: student.id), :can_present, as: :checkbox, collection: { true: 'Yes', false: 'No'} %></td>
      <td> <%= best_in_place student.exams.find_by(module_number:2).student_exams.find_by(student_id: student.id), :can_present, as: :checkbox, collection: { true: 'Yes', false: 'No'} %></td>
      <td> <%= best_in_place student.exams.find_by(module_number:3).student_exams.find_by(student_id: student.id), :can_present, as: :checkbox, collection: { true: 'Yes', false: 'No'} %></td>

    </tr>
  	<% end %>
  </table>
</div>
